/* CSS for tr3y.io */

body {
    font-family: sans-serif;
    max-width: 42em;
}

a.button {
    display: inline-block;
    margin: 5px;
    border: 1px solid #999;
    border-radius: 2px;
    padding: 4px;
    background-color: #bbb;
    text-decoration: none;
    color: #000;
}

a.button:link, a.button:visited, a.button:hover, a.button:active {
    color: #000;
}

h1 {
    border-bottom: 2px solid black;
}

h2 {
    border-bottom: 1px solid #999;
}

h3 {
    border-bottom: 1px solid #aaa;
}

h4 {
    border-bottom: 1px dotted #aaa;
}

img.iconthumb {
    margin: 0.5em;
    border: 2px solid #222;
    border-radius: 0.5em;
    width: 30%;
}

blockquote {
    margin: 0 0 0 1em;
    border-left: 1px solid #999;
    padding: 0.2em 1em 0.2em 1em;
}

